<?xml version="1.0" encoding="UTF-8"?>

<!--
  * Everything that is not definied explicitly is recorded as ERROR in the catalina.out (<Root .../>)
  * The ThresholdFilter at the top of the file needs to be TRACE. The level at Logger value, too. Adjust 
    the desired log level via the ThresholdFilter in the RollingFile appender.
-->



<Configuration name="Goobi viewer">

  <Properties>
    <Property name="baseDir">/opt/digiverso/logs</Property>
  </Properties>

  <ThresholdFilter level="TRACE" />

  <Appenders>
    <Console name="stdout">
      <PatternLayout pattern="%-5level %d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %location%n        %msg%n" />
      <ThresholdFilter level="ERROR" />
    </Console>

    <RollingFile name="viewer" fileName="${baseDir}/viewer.log" filePattern="${baseDir}/viewer.log.%d{yyyy-MM-dd}.log.gz">
      <PatternLayout pattern="%-5level %d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %location%n        %msg%n" />
      <ThresholdFilter level="DEBUG" />
      <CronTriggeringPolicy schedule="0 0 0 * * ?" />
      <DefaultRolloverStrategy>
        <Delete basePath="${baseDir}">
          <IfFileName glob="viewer.*.log.gz" />
          <IfLastModified age="14d" />
        </Delete>
      </DefaultRolloverStrategy>
    </RollingFile>

    <RollingFile name="ics" fileName="${baseDir}/ics.log" filePattern="${baseDir}/ics.log.%d{yyyy-MM-dd}.gz">
      <PatternLayout pattern="%-5level %d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %location%n        %msg%n" />
      <ThresholdFilter level="DEBUG" />
      <CronTriggeringPolicy schedule="0 0 0 * * ?" />
      <DefaultRolloverStrategy>
        <Delete basePath="${baseDir}">
          <IfFileName glob="ics.*.log.gz" />
          <IfLastModified age="14d" />
        </Delete>
      </DefaultRolloverStrategy>
    </RollingFile>
  </Appenders>

  <Loggers>
    <Logger name="io.goobi.viewer" level="TRACE" additivity="true">
      <AppenderRef ref="viewer" />
    </Logger>

    <Logger name="de.unigoettingen.sub.commons.contentlib" level="TRACE" additivity="true">
      <AppenderRef ref="ics" />
    </Logger>

    <Root level="ERROR">
      <AppenderRef ref="stdout" />
    </Root>
  </Loggers>
</Configuration>
